@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Aims Telecommunication LLC<br />
    Emirates Tower, AbuDhabi<br />
    P.O Box 94395<br />
    United Arab Emirates<br />
    <abbr title="Phone">TEL:</abbr>
    02 677 9025
    <abbr title="Phone">FAX::</abbr>
    02 677 9026
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@aimstelecom.com">info@aimstelecom.com</a><br />
</address>